
<% users.each do |user| %>
  <div>
    <% if user&.avatar&.attached? %>
      <%=link_to (image_tag (user.avatar),
                  style: "display: height: 35px;
                                  width:35px;"), "/profiles/#{user.id}" %>
    <% else %>
      <%= link_to (image_tag "guestavatar1.png",style: "display: height: 35px;
                                                                width:35px;"), "/profiles/#{user.id}"%>
    <% end %>
    <%= user.username %>
  </div>
<% end %>
