<h2> <%= @user.username %> Profile </h2>
<div><%= link_to "Back to games", games_path %></div>
<% if @user&.avatar&.attached? %>
  <%= image_tag(@user.avatar,
                              style: "display: height: 200px;
                                              width: 200px;
                                              object-fit: cover;")%>
<% else %>
  <%= image_tag "guestavatar1.png",style: "display: height: 200px;
                                                    width: 200px;" %>
<% end %>
