<% if current_user %>
<div>
  <%= turbo_stream_from "notifications_#{user.id}" %>
    <%= turbo_frame_tag "notifications_#{user.id}" do %>
      <% notifications.each do |notification| %>
        <%= render notification,
            participant: notification.to_notification.participant ,
            name: notification.to_notification.name,
            game: notification.to_notification.game,
            unread: notification.unread?,
            notification: notification.to_notification %>
      <% end %>
    <% end %>
</div>
<% end %>
