<%= form_with(model: [user, Friendship.new], url: send_friendship_request_path) do |form| %>
      <%= form.hidden_field :sender_id, value: current_user.id%>
      <%= form.hidden_field :receiver_id, value: user.id%>
  <div>
    <%= form.submit "Add friend" %>
  </div>

<% end %>
