<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= game.desc %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= game.members %>
  </p>

</div>
