
<% if game.winner.blank? && policy(game).full?%>
  <aside>
    <p>
    <% if policy(game).join? %>
        <%= render "games/participants", game: game%>
    <% end %>

    <% if current_user %>
      <h3> Wanna add friend ? </h3>
      <%= render "participants/new", game: game, participant: Participant.new%>
    <% end %>

    <% if current_user && policy(game).current_user_participates? %>
      <%= turbo_stream_from "user_#{user.id}_friends" %>
        <%= render "games/game_invites/invite_friends", user: user, friends: friends, game: game %>
    <% end %>
    </p>
  </aside>
<% end %>
