
<% if game.winner.blank? && participants.count < game.members %>
  <aside>
    <p>
    <% if policy(game).join? %>
        <%= render "games/participants", game: game%>
    <% end %>

    <% if user_signed_in? %>
      <h3> Wanna add friend ? </h3>
      <%= render "participants/new", game: game, participant: Participant.new%>
    <% end %>
    </p>
  </aside>
<% end %>
