<h2> Participants </h2>

<div>
    <%= render game.participants%>
</div>

<% if game.participants.length < game.members %>
  <%= render "participants/new", game: game%>
<% else %>
  <strong> Places sold out :( </strong>
<% end %>
