<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <p>
      <%= link_to "Show this game", game %>
    </p>
  <% end %>
</div>

<% unless !user_signed_in? || Participant.all.ids.include?(current_user.id) %>
  <%= link_to "New game", new_game_path %>
<% end %>
