/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.avatar {
  height: 35px;
  width: 35px;
  object-fit: cover;
}

.navbar_avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.fade-up
{
  animation: fade-up 1s
}

.fade-down
{
  animation: fade-down 1s
}

.fade-right
{
  animation: fade-right 2s
}

.fade-left
{
  animation: fade-left 2s
}

.blink
{
  animation: blink 8s infinite
}

 @keyframes blink{
  0%, 24%, 27%, 100%{
    transform: scaleY(1);
  }
  25%, 26%{
    transform: scaleY(0);
  }
}

@keyframes fade-up
{
  0%{
    opacity: 0;
    transform: translateY(-100px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}


@keyframes fade-down
{
  0%{
    opacity: 0;
    transform: translateY(100px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-right
{
  0%{
    opacity: 0;
    transform: translateX(300px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@keyframes fade-left
{
  0%{
    opacity: 0;
    transform: translateX(-300px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@keyframes live-fire
{
  0%,100%{
    transform: rotate(-45deg) scale(1.5,1.5);
  }

  25%{
    transform: rotate(-50deg) scale(1.5,1.5);
  }

  75%{
    transform: rotate(-40deg) scale(1.5,1.5);
  }

}

.flame {
  bottom: 0;
  position: absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  animation: live-fire 10s infinite;
}

.white {
  left: 15px;
  bottom: -4px;
  width: 40px;
  height: 40px;
  background: white;
  box-shadow: 0px 0px 9px 4px white;
}

.yellow {
  left: 15px;
  width: 40px;
  height: 40px;
  background: #b35d5e;
  box-shadow: 0px 0px 9px 4px #b35d5e;
}

.orange {
  left: 10px;
  width: 50px;
  height: 50px;
  background: #c73d40;
  box-shadow: 0px 0px 9px 4px #c73d40;
}

.red {
  left: 5px;
  width: 60px;
  height: 60px;
  background: #971e1e;
  box-shadow: 0px 0px 5px 4px #971e1e;
}

.fire-hidden
{
  transform: translateY(120px);
}

.fire-out-animation
{
  animation: appearing 500ms forwards;
}

@keyframes appearing{
  0%{
    transform: translateY(120px);
  }

  100%{
    transform: translateY(0px);
  }
}
